* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  color: #000000;
}

@media (prefers-color-scheme: light) {
  body {
    color: #000000;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: #000000;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
